@model ForgotPasswordViewModel
@{
    ViewData["Title"] = "Forgot your password?";
}

<h2>@ViewData["Title"]</h2>
<main>
    <div class="container">
        <div class="row h-100">
            <div class="col-12 col-md-10 mx-auto my-auto">
                <div class="card auth-card">
                    <div class="position-relative image-side ">
                        <p class=" text-white h2">MAGIC IS IN THE DETAILS</p>
                        <p class="white mb-0">
                            Please use your e-mail to reset your password.
                            <br>If you are not a member, please
                            <a asp-controller="Account" asp-action="Register" class="white">register</a>.
                        </p>
                    </div>
                    <div class="form-side">
                        <a href="Dashboard.Default.html">
                            <span class="logo-single"></span>
                        </a>
                        <h6 class="mb-4">Forgot Password</h6>
                        <form asp-controller="Account" asp-action="ForgotPassword"method="post">
                            <label class="form-group has-float-label mb-4">
                                <input asp-for="Email" class="form-control" />
                                <span>E-mail</span>
                            </label>

                            <div class="d-flex justify-content-end align-items-center">
                                <button class="btn btn-primary btn-lg btn-shadow" type="submit">RESET</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

@section Imports {
    <link rel="stylesheet" href="css/vendor/bootstrap-float-label.min.css" />
}
