<div class="d-flex align-items-center navbar-left">
    @*<div class="search">
        <input placeholder="Search...">
        <span class="search-icon">
            <i class="simple-icon-magnifier"></i>
        </span>
    </div>*@

    <a asp-controller="Account" asp-action="Login">
        UserClaims
    </a>
   






</div>