
<div class="user d-inline-block">
    <button class="btn btn-empty p-0" type="button" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
        <span class="name">Sarah Kortney</span>
        <span>
            <img alt="Profile Picture" src="~/img/profile-pic-l.jpg" />
        </span>
    </button>

    <div class="dropdown-menu dropdown-menu-right mt-3">
        <a class="dropdown-item" href="#">Account</a>
        <a class="dropdown-item" href="#">Features</a>
        <a class="dropdown-item" href="#">History</a>
        <a class="dropdown-item" href="#">Support</a>
        <a class="dropdown-item" asp-controller="Account" asp-action="SignOut" >Sign out</a>
    </div>
</div>