<div class="navbar-right">
    <div class="header-icons d-inline-block align-middle">
        <div class="d-none d-md-inline-block align-text-bottom mr-3">
            <div class="custom-switch custom-switch-primary-inverse custom-switch-small pl-1"
                 data-toggle="tooltip" data-placement="left" title="Dark Mode">
                @* <input class="custom-switch-input" id="switchDark" type="checkbox" checked>*@
                <label class="custom-switch-btn" for="switchDark"></label>
            </div>
        </div>

        @*  <partial name="_ShortCutPartial" />

        <partial name="_NotificationPartial" />

        <button class="header-icon btn btn-empty d-none d-sm-inline-block" type="button" id="fullScreenButton">
            <i class="simple-icon-size-fullscreen"></i>
            <i class="simple-icon-size-actual"></i>
        </button>*@
        
            <a asp-controller="Account" asp-action="Login" class="icon-menu-item">
                <span>Login</span>
            </a>
        



    </div>

  @*<partial name="_ProfilePartial"/>*@
</div>