<div class="position-relative d-none d-sm-inline-block">
    <button class="header-icon btn btn-empty" type="button" id="iconMenuButton" data-toggle="dropdown"
            aria-haspopup="true" aria-expanded="false">
        <i class="simple-icon-grid"></i>
    </button>
    <div class="dropdown-menu dropdown-menu-right mt-3  position-absolute" id="iconMenuDropdown">
        <a href="#" class="icon-menu-item">
            <i class="iconsminds-equalizer d-block"></i>
            <span>Settings</span>
        </a>

        <a href="#" class="icon-menu-item">
            <i class="iconsminds-male-female d-block"></i>
            <span>Users</span>
        </a>

        <a href="#" class="icon-menu-item">
            <i class="iconsminds-puzzle d-block"></i>
            <span>Components</span>
        </a>

        <a href="#" class="icon-menu-item">
            <i class="iconsminds-bar-chart-4 d-block"></i>
            <span>Profits</span>
        </a>

        <a href="#" class="icon-menu-item">
            <i class="iconsminds-file d-block"></i>
            <span>Surveys</span>
        </a>

        <a href="#" class="icon-menu-item">
            <i class="iconsminds-suitcase d-block"></i>
            <span>Tasks</span>
        </a>

    </div>
</div>